%font {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}
* {
    @extend %font;
}
h1 {
    line-height: 0;
    font-size: 0;
}
.lang-switch,
.temperature {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}
.search {
    &__submit {
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
    }
    &__text {
        font-weight: normal;
        font-feature-settings: 'cpsp' on;
        &::placeholder {
            font-weight: normal;
            color: #FFFFFF;
        }
    }
}
.location {
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;
}
.date {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
.cur_degree {
    font-style: normal;
    font-size: 306px;
    line-height: 373px;
    text-transform: uppercase;
}
.weather__item {
    font-size: 22px;
    line-height: 37px;
    text-transform: uppercase;
}
.next {
    &-day {
        font-size: 22px;
        line-height: 27px;
        text-transform: uppercase;
    }
    &-temp {
        font-weight: 600;
        font-size: 80px;
        line-height: 98px;
    }
}
.lan,
.long {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    text-transform: capitalize;
}
.loading__text {
    font-size: 8vh;
    text-align: center;
    color: #c4c4c4;
}

@media (max-width: 1030px) {
    .cur_degree {
        font-size: calc(29vw);
        line-height: calc(36vw);
    }
}